html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100%;
}

.menu {
  width: 250px;
  background-color:#1b4f48;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.menu a {
  display: block;
  padding: 10px 0;
  color: white;
  text-decoration: none;
}

.menu a.active {
  font-weight: bold;
  color: #007bff;
}

.content {
  flex: 1;
  padding: 20px;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.chatbot-response {
  width: 100%;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
}

.page 
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 20px;
}

.addFile, .chooseNewFile, .uploadNewFile {
    width: 100%; 
    max-width: 600px; 
    margin-bottom: 15px;
  }

  
  button {
    padding: 10px 20px;
    background-color: #1b4f48;
    color: white;
    border: none;
    cursor: pointer;
    border: 1px solid black;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #b5ddd7;
    color: #1caf96;
  }

  .custom-file-upload {
    display: inline-block;
    padding: 3px 7px; 
    cursor: pointer; 
    background-color: grey;
    color: white; 
    text-align: center; 
    border: 1px solid black; 
    transition: background-color 0.3s; 
  }
  
  .custom-file-upload:hover {
    background-color:darkgray
  }

  .selected {
    display: flex; 
    align-items: center; 
    gap: 10px; 
  }
  .selectedFile
  {
    margin-right: 100px;
  }

  .wave {
    background: #82bab1;
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 5em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

    .wave:nth-of-type(2) {
        bottom: -1.5em;
        animation: wave 18s linear reverse infinite;
        opacity: 0.8;
    }

    .wave:nth-of-type(3) {
        bottom: -3em;
        animation: wave 20s -1s reverse infinite;
        opacity: 0.9;
    }

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}